:root {
  --gray: #444;
  --light-gray: #eee;
  --dark-gray: #aaa;
  --gutter: 1em;
}

/* Reset by Andy Bell: https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
  color: var(--gray);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 var(--gutter);
}

iframe {
  border: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

a {
  color: var(--dark-gray);
}

a:hover {
  color: black;
}

a.active {
  color: black;
}

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2em 0 2.5em 0;
}

.site-title {
  color: black;
  font-size: 2.75em;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.site-subtitle {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
}

.site-menu {
  display: flex;
  gap: var(--gutter);
  margin: 0;
  padding: 0;
}

.site-menu a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .1s ease;
}

.showreel {
  display: grid;
  grid-auto-rows: 250px;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  list-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.showreel li:first-child {
  grid-column: span 1;
  grid-row: span 2;
}

.work {
  display: grid;
  grid-auto-rows: 315px;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.work-item {
  align-content: stretch;
  display: flex;
  flex-direction: column;
}

.work-item iframe {
  flex: 1;
  margin-bottom: 0.25em;
  min-height: auto;
}

/* About -------- */

.about {
  line-height: 1.5;
}

.about p {
  margin-bottom: 1em;
  width: 50%;
}

.about img {
  float: right;
  width: 50%;
  clear: both;
  margin-left: var(--gutter);
}

/* Footer -------- */

.site-footer {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
}

.social-networks {
  display: flex;
  gap: var(--gutter);
  margin: 0;
  padding: 0;
}

/* contact form -------- */

#contact-form {
  margin-top: 3em;
  width: 50%;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  border: 0;
  background-color: var(--light-gray);
  margin-bottom: .5em;
}

label {
  font-size: .875em;
  background-color: transparent;
  font-weight: 700;
}

input,
textarea {
  padding: 1em;
  margin-bottom: 1em;
}

input[type="submit"] {
  background-color: black;
  color: var(--light-gray);
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: .5em 3em;
  text-transform: uppercase;
  transition: all .2s ease;
  width: auto;
}

input[type="submit"]:hover {
  background-color: var(--dark-gray);
  color: white;
  cursor: pointer;
}

/* Utilities -------- */

.hidden {
  display: none;
}

.not-found {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

/* Media queries -------- */

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  hgroup {
    text-align: center;
  }

  .site-header {
    flex-direction: column;
    margin: var(--gutter) 0;
  }

  .site-title {
    font-size: 1.75em;
  }

  .site-subtitle {
    font-size: .75em;
  }

  .site-menu {
    font-size: .75em;
    justify-content: center;
    margin: 1.5em 0;
  }

  .about > p,
  .about > img {
    width: 100%;
    float: none;
  }

  .about > img {
    margin-left: 0;
  }

  .site-nav > li > a {
    font-size: .75em;
  }

  .site-footer {
    flex-direction: column;
    align-items: center;
  }

  .social-networks {
    margin-top: 2em;
    justify-content: center;
  }

  .showreel {
    grid-auto-rows: 240px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .showreel li:first-of-type {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .work {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #contact-form {
    width: 100%;
  }

  input[type="submit"] {
    display: inline-block;
    text-align: center;
  }
}
