*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Montserrat", sans-serif;
}

img,
svg {
  max-width: 100%;
}

iframe {
  display: flex;
}

nav {
  margin-top: 3em;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  text-transform: uppercase;
  margin-right: 1em;
}

nav ul li:last-of-type {
  margin-right: 0;
}

nav ul li a {
  color: #aaa;
  font-weight: 700;
  text-decoration: none;
  transition: all .1s ease;
}

nav ul li a:hover {
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-vertical {
  flex-direction: column;
}

.grid-cell {
  flex: 1;
}

.grid-gutters {
  margin: -1em 0 0 -1em;
}

.grid-gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

.grid-full > .grid-cell {
  flex: 0 0 100%;
}

.grid-1of2 > .grid-cell {
  flex: 0 0 50%
}

.grid-2of3 > .grid-cell {
  flex: 0 0 66.6667%
}

.grid-1of3 > .grid-cell {
  flex: 0 0 33.3333%
}

.grid-1of4 > .grid-cell {
  flex: 0 0 25%
}

.u-1of3 {
  flex: 0 0 33.3333%
}

.u-2of3 {
  flex: 0 0 66.6667%
}

.site-title {
  color: #000;
  font-size: 2.75em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.site-subtitle {
  margin: 0 0 2em 0;
  font-size: 1.25em;
  font-weight: normal;
}

.showcase {
  height: 500px;
}

.social ul {
  justify-content: flex-end;
}

.social ul li {
  flex: 0 0 2.5em;
  text-align: right;
}

.social ul li a {
  color: #aaa;
  text-decoration: none;
  transition: all .1s ease;
}

.social ul li a:hover {
  color: black;
}

.active {
  color: black;
}

.about {
  line-height: 1.5;
}

.about p {
  margin-top: 0;
}

.site-footer {
  padding: 3em 0;
}

.copyright {
  margin: 0;
}

.work-description {
  margin: 0;
}

.contact-form {
  margin-top: 3em;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  border: 0;
  background-color: #eee;
  margin-bottom: .5em;
}

label {
  font-size: .875em;
  background-color: transparent;
  font-weight: 700;
}

input,
textarea {
  padding: 1em;
  margin-bottom: 1em;
}

input[type="submit"] {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  background-color: #111;
  display: inline-block;
  width: auto;
  padding: .5em 3em;
  transition: all .2s ease;
  text-transform: uppercase;
  font-weight: 700;
  color: #eee;
}

input[type="submit"]:hover {
  color: #fff;
  cursor: pointer;
  background-color: #444;
}

.hidden {
  display: none;
}


@media screen and (max-width: 768px) {
  .grid > .grid-cell {
    flex: 0 0 100%;
  }
  .site-title {
    font-size: 1.75em;
    text-align: center;
  }
  .site-subtitle {
    font-size: .75em;
    text-align: center;
  }
  nav {
    text-align: center;
    margin-bottom: 2em;
  }
  nav ul li {
    margin-right: .5em;
    text-align: left;
  }
  nav ul li a {
    font-size: .75em;
  }
  .social {
    margin: 1em 0 0 0;
  }
  .social ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  iframe {
    height: 240px;
  }
  .showcase {
    height: auto;
  }
  input[type="submit"] {
    display: inline-block;
    text-align: center;
  }
  .abt {
    flex-direction: column-reverse !important;
  }
  .site-footer {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .site-title {
    font-size: 1.75em;
  }
  .site-subtitle {
    font-size: .75em;
  }
  nav {
    margin-top: 1.5em;
  }
  nav ul li {
    margin-right: .5em;
    text-align: left;
  }
  nav ul li a {
    color: #aaa;
    font-size: .75em;
  }
  .social ul {
    margin: 0;
    padding: 0;
  }
  iframe {
    height: 240px;
  }
  .showcase {
    height: auto;
  }
  input[type="submit"] {
    display: inline-block;
    text-align: center;
  }
}
